node_modules/
.env.local
.env
!.env.example

# Local Netlify folder
.netlify

# Capacitor
# android/
ios/
www/

# Capacitor config (optional - see note below)
# capacitor.config.json


# Build artifacts
*.log
.DS_Store
